<div>
    Displaying <span class="p-value">{{numRecords}}</span> of <span class="p-value">{{details.count}}</span> records
</div>

{{#each details.records as |record index|}}
    {{#if (gt index 0)}}
        <hr>
    {{/if}}
    <h1 class="p-title">
        {{fa-icon "ticket-alt"}}
        <a href="{{record.recordUrl}}" class="p-link" title="{{record.appName}} {{record.recordTrackingId}}">
            {{record.appAcronym}}-{{record.recordTrackingId}}
        </a>
    </h1>
    <div class="sub-info">
        {{#each record.detailFields  as | detailField | }}
            <div>
                <span class="p-key">{{detailField.name}}: </span>
                <span class="p-value">{{detailField.value}}</span>
            </div>
        {{/each}}
        <div>
            <span class="p-key">Time Spent: </span>
            <span class="p-value">{{record.recordTotalTimeSpent}}</span>
        </div>
    </div>
{{/each}}
